:root {
    --accent-color: rgb(196, 0, 222);
  --accent-color2: rgb(255, 137, 225, 0.5);
  --accent-color3: rgb(255, 137, 225);
}

.line, .line2 {
	background: #0000FF;
    background: linear-gradient(0deg, rgba(196, 0, 222, 1) 0%, rgba(196, 0, 222, 0) 100%);
}

.line3 {
	background: #0000FF;
    background: linear-gradient(180deg, rgba(196, 0, 222, 1) 0%, rgba(196, 0, 222, 0) 100%);
}

.first {
    margin-block-end: (-2 * var(--padding));
    margin-block-start: var(--padding);
}

.shiftup {
     margin-block-start: calc(-4 * var(--padding));
}

blockquote a {
    background-color: white;
    mix-blend-mode: exclusion;
    transition: 300ms ease-in-out;
}

blockquote a:hover {
    background-color: var(--accent-color);
    mix-blend-mode: color-burn;
    transition: 300ms ease-in-out;
}

.back:hover {
    color: var(--accent-color2);
    transition: 300ms ease-in-out;
}

.menu a:hover {
    background-color: var(--accent-color2);
    transition: 300ms ease-in-out;
}

.selected {
    background-color: var(--accent-color2);
}

.italic {
        font-style: italic;
        mix-blend-mode: normal;
    }


@media (width > 1100px) {


    h1 {
        font-size: 5.5rem;
        letter-spacing: 0.2rem;
    }

    .italic {
        position: absolute;
        font-size: 10rem;
        inset-inline-start: 8.5rem;
        inset-block-start: 3rem;
        z-index: -10;
        color: var(--accent-color3);
    }

}
