:root {
	--bg-color: black;
	--fg-color: white;
    --padding: 1.5rem;
	--fontsize: 1rem;
	font-size: 100%;
}

h1, h2, h3, h4 {
	font-family: "Playfair Display", serif;
	font-weight: 550;
}

.back {
	aspect-ratio: 1;
	position: fixed;
	z-index: 100;
	inset-block-start: calc(var(--padding) / 1.45);
	inset-inline-end: var(--padding);
	font-size: calc(2 * var(--fontsize));
	padding: 0;
	color: var(--fg-color);
	filter: drop-shadow(0rem 0rem 0.06rem var(--bg-color));
	/* background-color: white; */
}

.grid {
    display: flex;
    border-width: 1rem;
    border-color: black;
}

