@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');

:root {
	--bg-color: white;
	--fg-color: black;
    --padding: 1.5rem;
	--fontsize: 1rem;
	font-size: 100%;
}



h1, h2, h3, h4 {
	font-weight: 550;
    font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

h3 {
    text-align: right;
}


h4 {
    background-color: black;
    color: white;
    padding-block: calc(var(--padding) / 2);
    position: sticky;
    top: calc(var(--padding) * 6.5);
}

.gridelement {
    border-width:1rem;
    border-color: black;
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 2.8rem;
    background-color: var(--bg-color);
    border-radius: 0.3rem;
}

.grid {
    margin-block-start: var(--padding);
    display: flex;
    flex-wrap: wrap;
    position: fixed;
    justify-content: start;
    column-gap: calc(var(--padding) / 19);
    row-gap: calc(var(--padding) / 19);
}

.date {
    padding-block-start: calc(6 * var(--padding));
    padding-block-end: calc(3 * var(--padding));
}

p, h3, h4 {
    padding-inline: 1rem;
}

.main{
    z-index: 100;
}

