@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--bg-color: black;
	--fg-color: white;
	--accent-color: blue;
	--grey: rgb(59, 58, 58);
	--padding: 1.5rem;
	--fontsize: 1rem;
	--sticky-overlap: 5rem;
	font-size: 120%;
}

body{
	color: var(--fg-color);
	color: var(--fg-color);
	background-color: var(--bg-color);
	background-image: url("Dirty-Surface-Texture-06 copy.jpg");
	/* background-image: url("Dirty-Surface-Texture-06 copy.gif"); */
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
}

h1, h2, h3, h4, p {
	padding-inline: calc(var(--padding) / 2);
}

h1 {
	font-size: 2rem;
	color: var(--fg-color);
	background-color: var(--accent-color);
	padding-block: calc(var(--padding) /2);
	hyphens: manual;
	margin-block-start: calc(var(--padding) * 7);
}

h1, h2, h3, h4, blockquote p, time {
font-family: "Libre Caslon Text", serif;
font-weight: 700;
font-style: normal;
}

h1, h2, h3, blockquote p, time {
mix-blend-mode: color-dodge;
}


blockquote p, time p {
	font-size: 1.25rem;
}

h4 {
	font-size: 1.8rem;
}

p {
font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.95rem;
  padding-block-end: var(--padding);
}

h3 {
	padding-block-start: calc(3 * var(--padding));
	font-style: italic;
}

h3 time {
	font-style: italic;
}


blockquote {
	padding-inline: calc(var(--padding) / 2);
	background-color: rgba(255, 255, 255, 0.75);
	padding-block-start: calc( 2 * var(--padding));
	position: relative;
	overflow-y: hidden;
	min-height: 12.75rem;
}

blockquote p {
	color: var(--bg-color);
	mix-blend-mode: normal;
	padding-block-end: 0;
	padding-block-end: calc( 2 * var(--padding));
}

blockquote a {
	transition: 300ms ease-in-out;
}

article em {
	font-style: italic;
	font-weight: 500;
}

blockquote em {
	font-style: normal;
	font-weight: 900;
}

footer {
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 85%, rgba(0, 0, 0, 0) 100%);
	color: var(--fg-color);
	padding-block-end: var(--padding);
	padding-block-start: calc(1.3 * var(--padding));
	margin-block-start: calc( 2* var(--padding));
	display: flex;
	justify-content: space-between;
	font-weight: 900;
}

footer p {
	margin: 0;
	padding-block: 0;
	font-family: "Libre Caslon Text", serif;
	font-weight: 700;
	font-style: normal;
	font-size: 0.8rem;
	text-align: right;
}


a {
	margin: 0;
	padding: 0;
}

.back {
	font-size: calc(1.5 * var(--fontsize));
	color: var(--fg-color);
	transition: 300ms ease-in-out;
	position: absolute;
	inset-inline-start: calc(var(--padding) /2);
	inset-block-start: calc(var(--padding) / 3);
	mix-blend-mode: color-dodge;
}

.menu {
	color: var(--fg-color);
	transition: 300ms ease-in-out;
	position: absolute;
	inset-inline-end: calc(var(--padding) /2);
	inset-block-start: calc(var(--padding) / 2);
	display: flex;
	flex-direction: column;
	width: auto;
	column-gap: calc(var(--padding) / 2.5);
	row-gap: calc(var(--padding) / 3);
	mix-blend-mode: color-dodge;
}

.menu a {
	transition: 300ms ease-in-out;
}

.menu p {
	font-weight: 700;
	padding-inline: calc(var(--padding) /2);
	padding-block: calc(var(--padding) /5);
}

section > p:first-of-type {
padding-block-start: calc(var(--padding) * 4);
}

.space {
	opacity: 0;
}


.formersticky {
	position: relative;
	background: #000000;
	background: linear-gradient(180deg,rgba(0, 0, 0, 1) 71%, rgba(0, 0, 0, 0) 100%);
	padding-block-end: calc(var(--padding) / 1);
	z-index: 100;
}


.sticky h4 {
	font-size: 1rem;
}

.sticky {
	position: sticky;
	inset-block-start: calc(0 * var(--padding));
	margin-block-start: calc(-1.5 * var(--sticky-overlap));
	background: #000000;
	background: linear-gradient(180deg,rgba(0, 0, 0, 1) 71%, rgba(0, 0, 0, 0) 100%);
	padding-block-start: calc(var(--padding) / 1.5);
	padding-block-end: calc(var(--padding) / 1);
	z-index: 99; 
}

.line, .line2, .line3 {
	width: 100%;
	height: calc(var(--padding) * 2);
	margin-block-start: calc(2 * var(--padding));
	mix-blend-mode: color-dodge;
}

.line2, .line3 {
	margin-block-start: 0;
}

.line3 {
	margin-block-end: calc(3 * var(--padding));
}

.typeset2 {
	padding-block: var(--padding);
}

.main {
	margin-block-start: calc(5* var(--padding));
}

@media (width > 550px) {

}

@media (width > 700px) {
	:root {
		font-size: 150%;
	}

	h1, h2, h3, h4, p {
		padding-inline: calc(var(--padding) / 0.5);
	}

	p {
		padding-block-end: calc( 1.25 * var(--padding));
		line-height: calc(1.5 * var(--fontsize));
	}

	h1 {
	font-size: 3rem;
}

	h4 {
	font-size: 2.7rem;
}

.open {
	position: absolute;
	font-size: 30rem;
	inset-block-start: calc(10 * var(--padding));
	inset-inline-start: calc(1 * var(--padding));
    mix-blend-mode: overlay;
	z-index: 0;
}

.sticky h4 {
	font-size: 1.3rem;
}

	.menu {
	flex-direction: row;
}
}

@media (width > 1100px) {

	.formersticky h4 {
		max-width: 23.5ch;
		margin: auto;
	}

	.sticky h4 {
		max-width: 48.5ch;
		margin: auto;
	}

article p {
	padding-inline: 0;
	margin: auto;
	max-width: 65ch;
}

blockquote p {
	max-width: 43ch;
}

h1 {
	font-size: 4.5rem;
}


}

