@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--bg-color: black;
	--fg-color: white;
	--accent-color: blue;
	--padding: 1.5rem;
	--fontsize: 1rem;
	font-size: 120%;
}

img {
    position: fixed;
    object-fit: cover;
    height: 100vh;
    width: 100%;
    z-index: -10;
}

body{
    color: white;
    background-color: black;
}

.back {
	aspect-ratio: 1;
	position: fixed;
	z-index: 100;
	inset-block-start: calc(var(--padding) / 1.45);
	inset-inline-end: var(--padding);
	font-size: calc(2 * var(--fontsize));
	padding: 0;
	color: var(--fg-color);
	filter: drop-shadow(0rem 0rem 0.06rem var(--bg-color));
	/* background-color: white; */
}

h1, h2, h3, h4, p {
    padding-inline: calc(var(--padding) / 2);
}

h1 {
    padding-block-start: 0;
    font-size: 2.6rem;
    color: rgb(255, 255, 255);
}

h1, h2, h3, h4, blockquote p, time {
font-family: "Libre Caslon Text", serif;
font-weight: 700;
font-style: normal;
mix-blend-mode: color-dodge;
}

h4, blockquote p, time p {
    font-size: 1.25rem;
}

p {
font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 0.98rem;
  padding-block-end: var(--padding);
}

h3 {
    padding-block-start: calc(3 * var(--padding));
    font-style: italic;
}

h3 time {
    font-style: italic;
}


blockquote {
    text-align: center;
    margin-block-start: calc(2 * var(--padding));
    padding-inline: calc(var(--padding) / 2);
    background-color: white;
    mix-blend-mode: color-dodge;
}

blockquote p {
    color: black;
    mix-blend-mode: normal;
    padding-block-end: 0;
    padding-block: calc( 2 * var(--padding));
}


footer {
    background-color: white;
    color: black;
    padding-block-start: var(--padding);
    margin-block-start: calc( 2* var(--padding));
    display: flex;
    column-gap: calc(var(--padding) * 3);
    mix-blend-mode: color-dodge;
    font-weight: 900;
}

section > p:first-of-type {
padding-block-start: var(--padding);
}

h4 {
position: sticky;
inset-block-start: 0;
}

/* learned inversion technique in this thread: https://stackoverflow.com/questions/3433641/flipping-inverting-mirroring-text-using-css-only */
.typeset {
position: static;
transform: scaleX(-1);
padding-block-start: calc(3 * var(--padding));
font-size: 1.35rem;
display: flex;
color: rgb(59, 58, 58);
column-gap: 0.05rem;
mix-blend-mode: normal;
}

.space {
    opacity: 0;
}

.letterblock {
    width: auto;
    padding-inline: 0.05rem;
    height: 2.6rem;
    border-width: 0.5rem;
    border-color: var(--fg-color);
    display: flex;
    align-items: center;
    justify-content: center;
    background: #7F7D7E;
background: linear-gradient(180deg, rgba(127, 125, 126, 1) 0%, rgba(180, 179, 180, 1) 17%, rgba(252, 252, 252, 1) 38%, rgba(180, 180, 180, 1) 72%, rgba(123, 122, 122, 1) 100%);
}

.typeset2 {
    background-color: var(--accent-color);
}


