:root {
	--bg-color: tomato;
	--padding: 1.5rem;
	--fontsize: 1rem;
	font-size: 100%;
}

body {
	margin: var(--padding);
}

h1, h3, h4, p {
	padding-block-end: calc(2 * var(--padding));
}

h4 {
	padding-block-start: calc(4 * var(--padding));
}

h1 {
	font-size: calc(4 * var(--fontsize));
}

h3, h4 {
	font-size: calc(2 * var(--fontsize));
}

time p {
	font-size: calc(2 * var(--fontsize));
}

p {
	font-size: var(--fontsize);
}

