/* pulled centering code from an old demo from class last year https://codepen.io/Michael-French/pen/RNwopBr */
svg {
	position: fixed;
	z-index: 100;
	inset-block-start: 2rem;
	inset-block-start: 50%;
	inset-inline-start: 50%;
	transform:translate(-50%, -50%);
	width: 75rem;
}


header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	width: 100%;
	inset-block-start: calc(var(--padding) /2);
	inset-inline-end: calc(var(--padding) /2);
	flex-direction: column;
	row-gap: calc(var(--padding)*0.8);
	z-index: 200;
}

header p {
	font-family: "Libre Caslon Text", serif;
	font-weight: 700;
	font-style: normal;
	padding-block: 0;
	text-align: right;
	/* color: var(--bg-color); */
}

em {
	font-style: italic;
	padding-inline-end: 0.4rem;
}

/* text-shadow preset obtained from https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Properties/text-shadow */
.purple em{
	text-shadow: rgb(196, 0, 222) 0.1rem 0 0.5rem;
}

.purple:hover p{
	color: rgb(196, 0, 222);
	text-shadow: rgb(196, 0, 222) 0.1rem 0 0.5rem;
}

.green em {
	text-shadow: rgb(30, 144, 28) 0.1rem 0 0.5rem;
}

.green:hover p{
	color: rgb(30, 144, 28);
	text-shadow: rgb(30, 144, 28) 0.1rem 0 0.5rem;
}

.blue em{
	text-shadow: blue 0.1rem 0 0.5rem;
}

.blue:hover p{
	color: blue;
	text-shadow: blue 0.1rem 0 0.5rem;
}

section {
	width: 100%;
	display: flex;
	flex-direction: column;
	row-gap: 0rem;
	z-index: -500;
}

.gradient1, .gradient2, .gradient3, .gradient4, .gradient5, .gradient6 {
	width: 100%;
	height: 10rem;
	mix-blend-mode: lighten;
}

.gradient1 {
	background: linear-gradient(0deg, rgba(0, 0, 255, 1) 0%, rgba(0, 0, 255, 0) 100%);
}

.gradient2 {
	background: linear-gradient(180deg, rgba(0, 0, 255, 1) 0%, rgba(0, 0, 255, 0) 100%);
}

.gradient3 {
	background: linear-gradient(0deg, rgba(3, 191, 0, 1) 0%, rgba(3, 191, 0, 0) 100%);
}

.gradient4 {
	background: linear-gradient(180deg, rgba(3, 191, 0, 1) 0%, rgba(3, 191, 0, 0) 100%);
}

.gradient5 {
	background: linear-gradient(0deg, rgba(196, 0, 222, 1) 0%, rgba(196, 0, 222, 0) 100%);
}

.gradient6 {
	background: linear-gradient(180deg, rgba(196, 0, 222, 1) 0%, rgba(196, 0, 222, 0) 100%);
}

.colophon {
	position: fixed;
	z-index: 200;
	bottom: 0;
	left: 0;
	max-width: 60ch;
}

.colophon p {
	font-size: 1rem;
}

@media (width > 550px) {
 svg {
		width: 100rem;
	}
}

@media (width > 700px) {
	 svg {
		width: 120rem;
	}

	header {
	inset-inline-end: calc(var(--padding) * -1);
	row-gap: calc(var(--padding) / 2);
	}

	header p {
		font-size: calc(var(--fontsize)* 0.8);
	}
}	

@media (width > 1160px) {
 svg {
		width: 190rem;
	}

	  header {
	flex-direction: row;
	inset-inline-end: 0;
	}
}


