:root {
	--accent-color: blue;
    --accent-color2: rgba(0, 0, 255, 0.5);
}

.line, .line2 {
	background: #0000FF;
    background: linear-gradient(0deg, rgba(0, 0, 255, 1) 0%, rgba(0, 0, 255, 0) 100%);
}

.line3 {
	background: #0000FF;
    background: linear-gradient(180deg, rgba(0, 0, 255, 1) 0%, rgba(0, 0, 255, 0) 100%);
}

blockquote a:hover {
    background-color: var(--accent-color);
    mix-blend-mode: color-burn;
    transition: 300ms ease-in-out;
}

.back:hover {
    color: var(--accent-color2);
    transition: 300ms ease-in-out;
}

.menu a:hover {
    background-color: var(--accent-color2);
    transition: 300ms ease-in-out;
}

.selected {
    background-color: var(--accent-color2);
}


