:root {
	--accent-color: blue;
    --accent-color3: rgb(44, 244, 255);
}

.line, .line2 {
    background: linear-gradient(0deg, rgba(0, 0, 255, 1) 0%, rgba(0, 0, 255, 0) 100%);
}

.line3 {
    background: linear-gradient(180deg, rgba(0, 0, 255, 1) 0%, rgba(0, 0, 255, 0) 100%);
}

blockquote a:hover {
    background-color: var(--accent-color);
    mix-blend-mode: darken;
    transition: 300ms ease-in-out;
    color:  var(--fg-color);
}

blockquote em {
    color: var(--accent-color);
}

.back:hover {
    color: var(--accent-color);
    transition: 300ms ease-in-out;
}

.menu a:hover {
    background-color: var(--accent-color);
    transition: 300ms ease-in-out;
}

.selected {
    background-color: var(--accent-color);
}


.italic {
        font-style: italic;
        mix-blend-mode: normal;
    }

    .inline {
    background-color: var(--accent-color);
}

    .inline:hover {
    background-color: var(--accent-color);
}


@media (width > 1100px) {


    h1 {
        font-size: 5.5rem;
        letter-spacing: 0.2rem;
    }

    .italic {
        position: absolute;
        font-size: 10rem;
        inset-inline-start: 4rem;
        inset-block-start: 2.8rem;
        z-index: -10;
        color: var(--accent-color3);
    }

}

