:root {
	--accent-color: rgb(30, 175, 28);
	--accent-color3: rgb(240, 238, 123);
}

.line, .line2 {
	background: #0000FF;
	background: linear-gradient(0deg, rgba(3, 191, 0, 1) 0%, rgba(3, 191, 0, 0) 100%);
}

.line3 {
	background: #0000FF;
	background: linear-gradient(180deg, rgba(3, 191, 0, 1) 0%, rgba(3, 191, 0, 0) 100%);
}

blockquote a:hover {
	background-color: var(--accent-color);
	mix-blend-mode: darken;
	transition: 300ms ease-in-out;
	color:  var(--fg-color);
}

blockquote em {
	color: var(--accent-color);
}

.back:hover {
	color: var(--accent-color);
	transition: 300ms ease-in-out;
}

.menu a:hover {
	background-color: var(--accent-color);
	transition: 300ms ease-in-out;
}

.selected {
	background-color: var(--accent-color);
}

.italic {
	font-style: italic;
	mix-blend-mode: normal;
}

.inline {
	transition: 300ms ease-in-out;
	font-weight: 500;
	color: var(--fg-color);
	background-color: var(--accent-color);
	mix-blend-mode: lighten;
}

.inline:hover {
	transition: 300ms ease-in-out;
	color: var(--fg-color);
	mix-blend-mode: color-dodge;
}

@media (width > 1100px) {

	h1 {
		font-size: 5rem;
		letter-spacing: 0.2rem;
	}

	.italic {
		position: absolute;
		font-size: 9.8rem;
		inset-inline-start: 4.5rem;
		inset-block-start: 3rem;
		z-index: -10;
		color: var(--accent-color3);
	}
}